@{
    ViewData["Title"] = "Om sidan";
}

<h2>Om sidan</h2>
<p>Denna sida behandlar moment 2 i kursen "Webbutveckling med .NET"</p> <br />
Syftet med uppgiften är att:
<ul>
    <li>Att skapa ett enkelt projekt som bygger på MVC-designmönstret.</li>
    <li>Förstå filuppdelningen och MVC-arkitekturen.</li>
    <li>Förstå routing och URLs.</li>
    <li>Förstå var logik skall placerar och varför (typ affärslogik i controllers osv).</li>
</ul>

<div style="color: #4d2828;">
    <h2>@ViewBag.Message</h2>
</div>
<p></p>