 <header id="main-header">
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Startsida</a></li>
                <li><a asp-controller="Home" asp-action="About">Om sidan</a></li>
                <li><a asp-controller="Home" asp-action="Games">Spel</a></li>
            </ul>
        </nav>
    </header>